body {
    background-color: #100f0f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin: 0;
    font-family: ui-sans-serif, system-ui,"Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "apple color emoji", "segoe ui emoji", "Segoe UI Symbol", "noto color emoji";
}


.foundation {
    display: block;
    justify-content: middle;
    align-items: center;
    color: aliceblue;
    max-width: 900px;
    
    
    
    
}

/* The rest of your CSS remains the same */

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
    
    
}
.topright {
    display: flex;
    flex-direction: row;
    color: grey;
    text-decoration: none;
    
}

/* Add this CSS code to your stylesheet or in a <style> tag in the HTML document */




.header h2 {
    margin-left:10px;
    color: grey;
    margin-bottom: 25px;
    
}

.container {
    margin-top: 100px;
    color:aliceblue;
    justify-content: left;
}
    
   
   

.first {
    text-align: left; /* Center-align the content */
    color: gray;
    font-size: 15px;
}
    
    



h1 {
    
    font-weight: 700px;
    margin-bottom: 10px; /* Add some margin to separate from the next element */
    color: aliceblue;
    font-size: 150px;
    
    font-family: Arial, Helvetica, sans-serif;
    justify-content: left;
}

.first p {
font-size: 1.5em;
}

.second a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: aliceblue;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
    text-decoration: none;
    font-size: 20px;
    margin-top: 10px;
    max-width: 900px;
}




.footer {
    text-align: center;
    color: gray;
    margin-top: 70px;
    font-size: 25px;
    font-weight: 5px;
}

.second .text-gray {
    /* Default styles for the text-gray element */
    color: gray; /* Set the default text color to gray */
    /* Other default styles here */

    /* Hover styles for the text content within the .text-gray element */
    transition: color 0.3s; /* Add a smooth color transition effect on hover */
}

.second .text-gray:hover {
    color: #ffffff;
}

.second .a:hover {
    color: #ffffff;
}

.second a p{
    line-height: 10%;
}







@media (max-width: 800px){
    .second a{
        display: block;
        font-size: 1.3em;
    }
    
    .header h2{
        font-size: 20px;
    }
}