html {
    margin: 0;
    padding: 0;
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,apple color emoji,segoe ui emoji,Segoe UI Symbol,noto color emoji;
    font-size: 42px;
    text-align: center;  
    background-color: #161515; 
}

.content {
    
    width: 45rem ;
    margin-top: 1.5rem;
    display: block;
    position: absolute;
    left: 30%;
    right: 30%;
    
    
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5rem ;
    margin-bottom: 20px;
    
}

.header a {
    display: flex;
    align-items: center;
}


.header p {
    margin-left: 2rem;
    color: gray;
    
}

.icon {
    text-decoration: none;
    transition: color 0.3s ease;
}
.icon:hover path {
    fill: #ffffff;
}
.topright {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.topright a{
    text-decoration: none;
}

.topright p:hover {
    color: #ffffff;
}
.sublinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: left;
    color: rgb(238, 236, 236);
    margin-top: 3rem;
    
}



.sublinks a {
    border: 0 solid;
    border-radius: 2rem;
    background-color:#464747;
    padding: .4em 1em;
    margin-right: .2rem;
    text-decoration: none;
    color: rgb(192, 185, 185);
}

.subheader {
    font-size: 2rem;
    text-align: left;
    color: #ffffff;
    line-height: 4rem;
    margin: 0;
}

.subheader h1 {
    font-weight: 900;
    margin-top: 2rem;
    margin-bottom: 0;
}

.subheader p {
    color: gray;
    font-size: 1.5rem;
    margin-top: 0;
}

.intro {
    font-size: 1.58rem;
    text-align: left;
    color: rgb(225, 221, 221);
    line-height: 2.7rem;
    margin: 0; 
}

.intro h2 {
    margin-top: 4rem;
    font-size: 3rem;
}
.comment{
    border-left: 1rem solid rgb(58, 57, 57);
    font-size: 1.58rem;
    font-style: italic;
    text-align: left;
    color: rgb(58, 57, 57);
    line-height: 2.7rem;
    padding-left: 1rem;
    
}
.box{
    line-height: 1.7142857;
margin-top: 1.7142857em;
margin-bottom: 1.7142857em;
border-radius: .375rem;
padding: .9571429rem 1.2428571rem;
background-color: #282a36;
white-space: nowrap;
overflow-x: auto;
display: flex;
}

.snippet {
    color: white;
    font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
    text-align: left;
    font-size: .775rem;
    font-weight: 2rem;
    zoom: 1.5;
}

.space {
    margin-right: 1rem;
}

.vertical {
    margin-top: 2rem;
}

ul{
    font-size: 1.58rem;
    text-align: left;
    color: rgb(225, 221, 221);
    line-height: 2.7rem;
    margin: 0;
}

li{
    margin-left: 2rem;
    margin-bottom: 2rem;
}

li a {
    color: #97e1f1;
    text-decoration: underline;
}

.footer {
    margin-top:5rem;
    margin-bottom: 7rem;
    color: rgb(225, 221, 221);
    font-size: 1.5rem;
}